{
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-react-inline-elements",
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": "./src",
        "alias": {
          "components": "./src/components",
          "pages": "./src/pages",
          "elements": "./src/elements",
          "styles": "./src/styles",
          "utils": "./src/utils",
          "hOC": "./src/hoc",
          "image": "./src/assets/img"
        }
      }
    ]
  ],
  "presets": [
    ["@babel/env", { "useBuiltIns": "usage", "modules": false }],
    "@babel/typescript",
    "@babel/react",
    "@emotion/babel-preset-css-prop"
  ]
}
