{
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-react-inline-elements",
    [
      "module-resolver",
      {
        "root": "./src",
        "alias": {
          "@Src": "./src/App.jsx",
          "@Components": "./src/components",
          "@Pages": "./src/pages",
          "@Elements": "./src/elements",
          "@Styles": "./src/assets/styles",
          "@Utils": "./src/utils",
          "@HOC": "./src/hoc",
          "@Image": "./src/assets/img"
        }
      }
    ]
  ],
  "presets": [
    ["@babel/env", { "useBuiltIns": "usage", "modules": false }],
    "@babel/typescript",
    "@babel/react"
  ]
}
